@import url(https://cdn.dribbble.com/users/5554868/screenshots/16110494/media/c3af6d2a96b3612e647170731284c198.jpg);
.card {
  border: 1px solid blue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 5px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  background: aquamarine;

}
/* .parent-container {
  /* display: flex; */
  

 
.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

body {
  background-color: aquamarine;
}
.btn-primary {
  background-color: grey;
}
